
	.home-header {
	height: 950px;
	width: 100%;
	background: linear-gradient(
      rgba(0,0,0,0.1),
      rgba(0,0,0,0.1)
    ),
	url("http://localhost:8888/LAVA/wp-content/themes/lava/images/headers/haley-phelps-119782.jpg");
	background-size: cover;
	background-size: contain;
	background-repeat: no-repeat;
	color: #ffffff;
	text-align: center;
	margin-top: auto;
	margin-bottom: -120px;

	h1 {
		font-weight: 100;
		text-align: center;
		padding-top: 1em;

			 span {
			 	color: #f15a29;
			 	text-transform: uppercase;
			 	font-size: 1em;
			 }


	}

	button {
		//float: middle;
		color: white !important;
		background-color: #27aae1;
		border-radius: 40px;
		height: 50px;
		border-color: white;
		text-transform: uppercase;
		text-decoration: none;

			a {
				text-decoration: none !important;
				color: #ffffff;
				border-bottom: none;
					:visited {
						color: #000;
						border: none;
					}

					:hover {
						color: #000 !important;
					}
			}

	}
}





	@media screen and (min-width: 1100px) {
		.home-header {
			margin-top: -4em;
		}

		.welcome-msg {
			//text-align: center;
			color: #fff;
			//border-radius: 30%;
			background-color: #f15a29;
			float: left;
			margin-top: 10em;
			margin-left: 2.5em;
			width:500px;
			height:500px;
			border-radius: 50%;
			float: left;
			border: 2px solid #fff;
			opacity: 0.9;
			line-height: 1.2 !important;

			img {
				width: 50px;
				height: 90px;
			}

			h1 {
				color: #000;
				font-style: bold;
				padding-top: 50px;
				text-transform: uppercase;
				font-size: 3.5em;

					span {
						color: #fff;
						//background-color: #27aae1;
						text-transform: uppercase;
						text-align: center;
						font-size: 2em;
					}
			}

			#intro {
				font-size: 1.2em;
				padding: 0 90px;
				margin-top: -2em;
				line-height: 4 !important;
				//text-align: center;
			}

			button {
				//float: middle;
				color: white;
				background-color: #27aae1;
				border-radius: 40px;
				height: 50px;
				border-color: white;
				text-transform: uppercase;
				font-size: 1.2em;

			}

		}

	}
@media screen and (max-width: 1101px){

	.welcome-msg {
			color: #fff;
			background-color: #f15a29;
			float: left;
			margin-top: 9em;
			margin-left: 2.5em;
			width:400px;
			height:400px;
			border-radius: 50%;
			float: left;
			border: 2px solid #fff;
			opacity: 0.9;

			img {
				width: 50px;
				height: 90px;
			}

			h1 {
				color: #000;
				font-style: bold;
				padding-top: 30px;
				text-transform: uppercase;
				font-size: 2.5em;

					span {
						color: #fff;
						text-transform: uppercase;
						text-align: center;
						font-size: 2em;
					}
			}

			#intro {

				font-size: 1.2em;
				padding: 0 20px;
				margin-top: -.5em;
			}

			button {
				color: white;
				background-color: #27aae1;
				border-radius: 40px;
				height: 50px;
				border-color: white;
				text-transform: uppercase;
				font-size: 1.2em;

			}

		}

}

@media screen and (max-width: 901px){
	.home-header {
		margin-top: 80px;//use this
		margin-bottom: -23em;
		padding-top: 40px;
	}

	.welcome-msg {
			color: #fff;
			background-color: #f15a29;
			float: left;
			margin-top: 6em;
			margin-left: 1.5em;
			width:330px;
			height:330px;
			border-radius: 50%;
			float: left;
			border: 2px solid #fff;
			opacity: 0.9;

			img {
				width: 50px;
				height: 90px;
				margin-top: -6em;
			}

			h1 {
				color: #000;
				font-style: bold;
				padding-top: 30px;
				text-transform: uppercase;
				font-size: 2.5em;

					span {
						color: #fff;
						text-transform: uppercase;
						text-align: center;
						font-size: 1.5em;
					}
			}

			#intro {

				font-size: .9em;
				padding: 0 20px;
				margin-top: -.7em;
			}

			button {
				color: white;
				background-color: #27aae1;
				border-radius: 40px;
				height: 40px;
				border-color: white;
				text-transform: uppercase;
				font-size: .8em;//use this

			}

		}
	}


@media screen and (max-width: 768px) {
	.home-header {
		margin-top: 0px;//use this
		margin-bottom: -28em;
	}

	.welcome-msg {
			margin-top: 5em;

				span {
					color: #fff;
					text-transform: uppercase;
					text-align: center;
					font-size: 1.5em;
				}


			#intro {

				font-size: .9em;
				padding: 0 20px;
				margin-top: -.7em;
			}

			button {
				color: white;
				background-color: #27aae1;
				border-radius: 40px;
				height: 40px;
				border-color: white;
				text-transform: uppercase;
				font-size: .8em;

			}
		}
}

@media screen and (max-width: 670px) {

	.home-header {
			margin-top: -2em;
			margin-bottom: -43em;

		}

	.welcome-msg {
		margin: 0 auto;
		margin-top: 0em;
		height: 200px;
		width: 200px;
		border-radius: 100%;

			h1 {
				color: #000;
				font-style: bold;
				padding-top: 20px;
				text-transform: uppercase;
				font-size: 1em;

					span {
						color: #fff;
						text-transform: uppercase;
						text-align: center;
						font-size: 2em;
					}
			}

			#intro {

				font-size: .6em;
				padding: 0 20px;
				margin-top: -.7em;
			}

			button {
				color: white;
				background-color: #27aae1;
				border-radius: 40px;
				height: 25px;
				border-color: white;
				text-transform: uppercase;
				font-size: .6em;
			}


	}

}

/* Search Section */

.home-que {
	height: auto;
	background-color: #fff;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: none;
	margin-left: -2.2em;


	a {
		border-bottom: none;

		:hover {
			color: #ffffff;
			background-color: #27aae1;
		}
	}

	p {
		font-size: 25px;
		font-family: $font__rubik;
	}

	ul {
	list-style-type: none;
  	text-decoration: none;
  	margin: 0;

  	@media only screen and (min-width: 48em) {
		display: flex;
		align-items: center;
  		justify-content: center;
  		padding-top: 60px;
  		padding-bottom: 0px;


  		li {
  			padding: 20px 110px 13px;

  		}

	}

		li {
			text-align: center;
			.fa {
				padding-top: 37px;
				padding-bottom: 30px;
				width: 140px;
			    height: 140px;
			    border-radius: 50%;
			    line-height: 50px;
			    border: 3px solid;
			    color: #fff;
			    background-color: #27aae1;
			    font-size: 60px;
			    border-color: #f15a29;

			    :hover {
					color: #ffffff;
					background-color: #27aae1;
				}
			}
  		}

	}

}

.section-2-1 {
	background-color: #27aae1;
	text-align: center;
    height: auto;
    min-height: 700px;
    overflow: hidden;
    padding-top: 50px;


    	h2 {
    		padding-bottom: 40px;
    		font-size: 3.7em;
    		color: #ffffff;
    		font-weight: 300;
    	}
}


.section-3-1 {
	text-align: center;
    height: auto;
  	color: #000;
  	background-color: #fff;
    background-size: cover;
    margin: 0 0 -22px 0;
    padding-top: 60px;
    padding-bottom: 40px;

    br {
		display: none !important;
	}

    .button {

	    text-transform: uppercase;
	    font-size: 20px;
	    font-weight: 900;
	    color: #fff;
	    //background: #8dc63f;
	    border-radius: 100px;
	    padding: 11px 32px 13px;
	    display: inline-block;
	    text-decoration: none !important;
	    width: 280px;
	    background: #8dc63f;  /* fallback for old browsers */
		}

		h3 {
    		font-size: 2em !important;
    		font-weight: 300;
    	}

    	ul {
    		list-style-type: none;
  			align-items: center;
  			margin-left: -2.2em;
    	}

		li {
			style: none;
			margin: 30px;


		.section-icon {
			border-radius: 150px;
		    background-color: #fff;
		    width: 135px;
		    height: auto;
		}

		h6 {
			font-size: 2em;
		}

		p {
			font-size: 1.4em;
			letter-spacing: -0.015em;
			line-height: 40px;
			padding-top: 0.8em;
		}
	}

	@media screen and (min-width: $query__medium){
		h3 {
    		font-size: 3.2em !important;
    		padding-bottom: 50px;
    	}

    	p {
			font-size: 1.5em !important;
			text-align: center;
		}


		.button {
			width: 280px;
			padding: 11px 32px 13px;
		}

		ul {
    		list-style-type: none;
    		display: flex;
  			align-items: center;
  			justify-content: center;
    	}

    	br {
    		display: inline !important;
    	}
	}

}

.section-4-1 {
	height: auto;
	color: #fff;
	text-align: center;

	h3 {
		font-size: 3em;
		font-weight: 300;
		padding-top: 50px;
	}

	p {
	  font-size: 1.5em;
	}

	hr {
		width: 70px;
		height: 2px;
		color: #f15a29;
	}

	@media only screen and (min-width: $query__medium) {

		h3 {
			font-size: 3.7em !important;
		}

		p {
			//padding-right: 300px;
    		//padding-left: 300px;
		}

	}

	.contact-form {
		color: #000;
		padding-top: 15px;
		p {
			font-size: 1.8em;
			padding-top: 40px;
			color: #8dc63f;
			font-size: 3em;
			line-height: 1.5;
			padding-top: 40px;

			br {
				display: none;
			}
		}

		@media only screen and (min-width: $query__medium) {

			br {
			    display: inline !important;

			}

		}


		/**-----------Front-page contact form--------------**/
#responsive-form{
	max-width:750px;
	margin:0 auto;
        width:100%;
}

.form-row{
	width: 100%;
}
.column-half, .column-full{
	float: left;
	position: relative;
	padding: 0.65rem;
	width:100%;
	font-size: 20px;
	-webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box

}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/**---------------- Media query ----------------**/
@media only screen and (min-width: 48em) {
	.column-half {
		width: 50%;
	}
}

.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	      box-sizing: border-box
}
.wpcf7 input[type="text"]:focus{
	background: #fff;
}

.wpcf7 textarea {
	height: 200px;
}

.wpcf7-submit{
	float: left;
	background: #8dc63f;
	color: #fff;
	text-transform: uppercase;
	border: none;
	border-radius: 10px;
	padding: 8px 20px;
	cursor: pointer;
	height: 60px;
	width: 140px;
}
.wpcf7-submit:hover{
	background: #f15a29;
	color: #000;
}
span.wpcf7-not-valid-tip{
	text-shadow: none;
	font-size: 12px;
	color: #fff;
	background: #ff0000;
	padding: 5px;
}
div.wpcf7-validation-errors {
	text-shadow: none;
	border: transparent;
	background: #f9cd00;
	padding: 5px;
	color: #9C6533;
	text-align: center;
	margin: 0;
	font-size: 12px;
}
div.wpcf7-mail-sent-ok{
	text-align: center;
	text-shadow: none;
	padding: 5px;
	font-size: 12px;
	background: #59a80f;
	border-color: #59a80f;
	color: #fff;
	margin: 0;
}

	}

	.contact-info {
		//background-color: #8dc63f;
		background-size: cover;
	    background: linear-gradient(
	      rgba(0,0,0,0.7),
	      rgba(0,0,0,0.7)
	    ),
	    url('images/andrew-neel-308138.jpg');
	    background-size: cover;
	    background-size: cover;
	    padding-bottom: 20px;
	}
	.contact-session {

		a {
				color: #fff;
				border: none;

				:hover {
					color: #f15a29;
					text-decoration: underline !important;
				}
			}

		ul {
			margin-left: -2.2em;
			h6 {
				text-transform: uppercase;
				font-family: $font__rubik;
				font-size: 22px;
			}



			p {
				font-size: 18px;
			}

			li {
				text-decoration: none !important;
				list-style: none;
				padding-top: 30px;

				:hover {
					color: #ffffff;
					background-color: #27aae1;
					border-color: #fff;
					text-decoration: underline;
				}

			}


		.fa {
			border-radius: 100px;
			width: 100px;
			height: 100px;
			text-align: center;
			line-height: 100px;
			vertical-align: middle;
			//padding: 30px;
			border: 2px solid #fff;
			text-decoration: none !important;
			color: #fff;
			//background-color: #fff;

		}

		@media screen and (min-width: 700px) {
			display: flex;
			text-align: center;
			width: 100%;
			align-items: space-between;
  			justify-content: center;
  			padding: 30px;

  			h3 {
  				padding-top: 30px;
  				font-size: 50px;
  			}


  			.site-contact{
  				//display: block;
				 width: 33%;
    			text-align: center;
				vertical-align: center;
  			}
		}

	}

	}
}


.sponsors {
	height: auto;
	text-align: center;
  color: #000;
  padding-top: 5px;
  font-size: 26px;
  background-color: #8dc63f;
  border-top: 1px solid #f15a29;
  border-bottom: 1px solid #f15a29;
  margin-left: -60px;
	background: #eee;


    h4 {
    	font-weight: 500;
    	padding-bottom: 10px;
    }
    ul {
    	text-transform: uppercase;
    	text-decoration: none;
    	list-style: none;
    	vertical-align: middle;
    	li {
    		padding-top: 10px;
    	}
    }
	img {
		height: 30px;
		width: 220px;
		min-height: 70px;
		text-align: center;

	}
	@media only screen and (min-width: $query__medium) {
		height: 320px;

		ul {
			display: flex;
			align-items: center;
  			justify-content: center;
			li {
				padding: 10px 40px 50px 40px;
				img {
					height: 50px;
					width: 220px;
					min-height: 70px;
					text-align: center;
				}
			}
		}
	}

}
