
.section-1 {
    margin-top: -1.5em;
    width: auto;
    overflow: hidden;
    //padding: 20px;
    text-align: center;
    background: linear-gradient(#2d4c68, #14ACAF);
	background-image: linear-gradient(rgb(45, 76, 104), rgb(10, 172, 175));
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
    font-family: $font_montserrat;
    height: auto;
    //background-image:  url("http://localhost:8888/LAVA/wp-content/uploads/2017/06/todd-quackenbush-27493.jpg");

    h1 {
        font-size: 4em;
        text-align: center;
        text-transform: uppercase;
        line-height: 100px;
        margin-top: 120px;
        color: #fff;
    }

    hr {
        width: 250px;
        background-color: #d00;
        height: 2px;
        margin-top: 60px;

    }

    h2 {
        font-size: 2.6em;
             //font-weight: 200;
        color: white;  
            
       }

    ul {
        list-style-type: none;    
        display: flex;
  		align-items: center;
  		justify-content: center;


        h5 {

            font-size: 1.3em;
            font-weight: 100;
            color: white;
                
        }

        img {
            border-radius: 130px;
             //border: 2px solid red;
            background-color: #ddd;
            width: 115px;
		    height: auto;
        }

    }

}

.section-2 {
    text-align: center;
    height: auto;
    background-color: #ededed;
    min-height: 100px;
    overflow: hidden;
    //line-height: 3;
    padding: 45px 0 90px 0;
    	h2 {
    		padding-bottom: 40px;
    		font-size: 3.5em;
    		color: #8dc63f;
    		//font-weight: 300;
    	}
}

.section-3 {
	text-align: center;
    height: auto;
  	color: white;
  	background-size: cover;
  	background: linear-gradient(
      rgba(0,0,0,0.7), 
      rgba(0,0,0,0.7)
    ),
    url('images/andrew-neel-308138.jpg');
    background-size: cover;
    margin: 0 0 -22px 0;
    padding-top: 60px;

    	h3{
    		font-size: 3.5em;
    		font-weight: 200px;
    	}

    	ul{
    		list-style-type: none;
    		display: flex;
  			align-items: center;
  			justify-content: center;

    	}
			li {
				style: none;
				margin: 30px;


					.section-icon {
						border-radius: 150px;
		                //border: 2px solid red;
		                background-color: #eee;
		                width: 135px;
		                height: auto;
					}

					h6 {
						font-size: 2em;
						}
					p {
						font-size: 1.5em;

					}

			}

}

.section-4 {
	height: auto;
	text-align: center;
	background-color: #ededed;
    min-height: 100px;
    margin-top: -3em;
    padding: 35px 0 0 0;
    margin: 0 0 -23px 0;

	h3 {
		font-size: 3.5em;
    	font-weight: 200px;
	}

	p{
	  font-size: 1.5em;
	}

	hr {
		width: 70px;
		height: 2px;
		color: #f15a29;
	}
/**-----------Front-page contact form--------------**/
#responsive-form{
	max-width:750px /*-- change the form width --*/;
	margin:0 auto;
        width:100%;
}

.form-row{
	width: 100%;
}
.column-half, .column-full{
	float: left;
	position: relative;
	padding: 0.65rem;
	width:100%;
	font-size: 20px;
	-webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box

}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/**---------------- Media query ----------------**/
@media only screen and (min-width: 48em) { 
	.column-half{
		width: 50%;
	}
}

.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	      box-sizing: border-box
}
.wpcf7 input[type="text"]:focus{
	background: #fff;
}

.wpcf7 textarea {
	height: 200px;
}

.wpcf7-submit{
	float: right;
	background: #CA0002;
	color: #fff;
	text-transform: uppercase;
	border: none;
	padding: 8px 20px;
	cursor: pointer;
}
.wpcf7-submit:hover{
	background: #ff0000;
}
span.wpcf7-not-valid-tip{
	text-shadow: none;
	font-size: 12px;
	color: #fff;
	background: #ff0000;
	padding: 5px;
}
div.wpcf7-validation-errors { 
	text-shadow: none;
	border: transparent;
	background: #f9cd00;
	padding: 5px;
	color: #9C6533;
	text-align: center;
	margin: 0;
	font-size: 12px;
}
div.wpcf7-mail-sent-ok{
	text-align: center;
	text-shadow: none;
	padding: 5px;
	font-size: 12px;
	background: #59a80f;
	border-color: #59a80f;
	color: #fff;
	margin: 0;
}

.sponsors {
	height: auto;
	text-align: center;
    height: auto;
  	color: white;
  	background-size: cover;
  	background: linear-gradient(
      rgba(0,0,0,0.7), 
      rgba(0,0,0,0.7)
    ),
    url('images/sponsors-bg.jpg');
    background-size: cover;
    padding-top: 10px;
    font-size: 15px;
	
}

}

.content {
	width: 100%;
	font-family: $font__rubik;

	.entry-content, 
	.entry-summary {
    	margin: 1.5em 0 0;
    	width: 100%;

	}
	.hentry {
	//margin: -2em;
	}
}
