.section-2 {
    text-align: center;
    height: 80%;
    background-color: #ededed;
    min-height: 100px;
    overflow: hidden;
    //line-height: 3;
    padding: 45px 0 90px 0;
    	h2{
    		padding-bottom: 40px;
    	}
}