.header-image {
	max-height: 60vh;
	overflow: hidden;

	img {
		display: block;
		width: 100vw;
	}
}
.site-header {
	position: fixed;
	//padding: 1em;
	font-family: $font__rubik;
	color: #fff;
	background-color: #191d48;
	border-bottom: 3px solid white;
	z-index: 170;
	width: 100%;
	margin-top: -24px;


	
	@media screen and (min-width: $query__small) {
		padding: 1em 2em;
	}
}

.site-branding {
	display: flex;
	min-height: 65px;
}

.custom-logo-link {
	margin-right: 1em;
	img {
		display: block;
		height: 65px;
		width: auto;
	}
}

.site-branding__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 65px;
}

.site-title {
	margin-left: -17px;
	padding: 0;
	font-size: 2em;
	font-weight: 100;
	line-height: 1em;
	margin-top: 10px;


	
	a {
		color: white;
		text-decoration: none;
		
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.site-description {
	margin: 0;
	font-size: .9em;
	font-style: italic;
	font-weight: 100;
}

@media screen and (min-width: $query__medium) {
	.site-header {
		display: flex;
		justify-content: space-between;
		height: 90px;
	}
	
	.site-branding {
		width: 35%;
		flex: 1 0 auto;
	}
	
	.site-navigation {
		width: 55%;
	}

	/*.main-navigation ul {
        list-style: none;
        margin-top: 15px;
        padding-left: 0;
        float: right;
        font-size: .75em;

            li a {
                padding-right: 20px !important;
                padding-left: 20px !important;
            }
	}*/


}    

/* 
Header Menu
*/
@import "header-menu";